@import "tailwindcss";

@theme {
    --animate-fade-in: fade-in 0.5s;
    @keyframes fade-in {
        0%{
            transform: translateY(100%);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
    --animate-fade-out: fade-out 0.5s;
    @keyframes fade-out {
        0%{
            transform: translateY(0);
            opacity: 1;
        }
        100%{
            transform: translateY(100%);
            opacity: 0;
        }
    }
}